body{
    display: grid;
    justify-content: center;
    grid-template-rows: 90px auto;
}

main{
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 20px;
}

nav{
    height: 60px;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    font-weight: 700;
    color: #666;
    box-shadow: 0 2px 2px -1px rgba(6,6,6,0.4);
}

#station{
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 10px;
}

#option{
    height: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    grid-template-rows: 1fr;
}

option{
    cursor: pointer;
}

#container{
    border-radius: 5px;
    background-color: 	#faf9f3;
    height: fit-content;
    margin-top: 20px;
    display: grid;
    width: 600px;
    justify-items: center;
}

#railway{
    width: 250px;
    height: 150px;
    display: none;
    grid-template-rows: repeat(3,1fr);
}
#highspeedrail{
    width: 250px;
    height: 150px;
    display: none;
    grid-template-rows: repeat(3,1fr);
}
#weather{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.time_label,#railway_drive_time,#railway_drive_price,#highspeedrail_drive_time,#highspeedrail_drive_price{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.time_label > div, #railway_drive_time > div, #railway_drive_price > div, #highspeedrail_drive_time > div, #highspeedrail_drive_price > div{
    justify-self: center;
    align-self: center;
}

#weekly_weather{
    width: 100%;
    text-align: center;
    
    
}



